<template>
    <div class="column" v-bind:style="width">
        <div id="label-parent">
            <p v-show="hasLabel" id="label">{{ label }}</p>
        </div>
        <svg class="circle" v-for="i in number" v-bind:key="i">
            <circle cx="6" cy="6" r="6"></circle>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "Column",
        props: {
            number: {
                type: Number
            },
            label: {
                type: Number
            },
            hasLabel: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            width: function () {
                if (this.hasLabel) {
                    return 'width: 30px';
                } else {
                    return 'width: 12px';
                }
            }
        }
    }
</script>

<style scoped>
    .column {
        display: inline-flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
    }

    .circle {
        padding: 15px 0 0 0;
        width: 12px;
        height: 12px;
    }

    #label-parent {
        width: 100%;
        height: 45px;
        position: relative;
    }

    #label {
        width: 100%;
        margin: 0;
        text-align: center;
        font-family: 'Space Mono', monospace;
        font-size: 15px;
        position: absolute;
        bottom: 5px;
    }
</style>