<template>
    <div class="contributing">
        <div id="repo-info">
            <a href="https://gitlab.com/difference-of-means/website" target="_blank">
                <img class="link" src="@/assets/gitlab-icon-rgb.svg" alt="GitLab Logo">
            </a>
            <p id="contribute-message">
                This website is open source. Improve it by <a href="https://gitlab.com/difference-of-means/website"
                                                              target="_blank" class="contribute-link">contributing</a>
                or
                <a href="https://gitlab.com/difference-of-means/website/issues/new" target="_blank"
                   class="contribute-link">requesting a feature</a>.
            </p>
        </div>
        <img src="@/assets/favicon.png" alt="Difference of Means Logo">
    </div>
</template>

<script>
    export default {
        name: "Contributing"
    }
</script>

<style scoped>
    img {
        height: 30px;
        width: auto;
        margin: 10px;
    }

    .contributing {
        width: 80%;
        margin: 0 10% 20px 10%;
        border-radius: 10px;
        background-color: #ECEDEF;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #repo-info {
        display: flex;
        align-items: center;
    }

    #contribute-message {
        font-family: 'Space Mono', monospace;
        font-size: 12px;
        margin: 0 0 3px 0;
    }

    .link {
        cursor: pointer;
    }

    .contribute-link {
        cursor: pointer;
        color: black;
        text-decoration: none;
    }

    .contribute-link:hover {
        text-decoration: underline;
    }


</style>