<template>
    <div class="control-bar" v-on:average-updated="updateDifference">
        <div id="randomize">
            <i class="material-icons">
                refresh
            </i>
            <label>
                <input id="rep" max="50" min="1" type="number" v-model="randomizeCount">
            </label>
            <button id="randomize-but" @click="randomize">
                Randomize
            </button>
        </div>
        <div>
            <p id="difference">DIFFERENCE <span class="bold">{{ differenceDisplay }}</span></p>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {EventBus} from '../eventBus.js';

    export default {
        name: "ControlBar",
        data: function () {
            return {
                averages: {},
                randomizeCount: 1
            }
        },
        methods: {
            updateDifference: function (payload) {
                alert();
                this.averages[payload[0]] = payload[1];
            },
            randomize: function () {
                let payload = this.randomizeCount;
                EventBus.$emit('randomize', payload);
            }
        },
        computed: {
            ...mapGetters('averages', [
                'getAverages'
            ]),
            difference: function () {
                return (parseFloat(this.getAverages[0]) - parseFloat(this.getAverages[1]))
            },
            differenceDisplay: function () {
                return this.difference.toFixed(2)
            }
        }
    }
</script>

<style scoped>
    .control-bar {
        width: 80%;
        height: 55px;
        margin: 0 10% 20px 10%;
        border-radius: 10px;
        background-color: #ECEDEF;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: #ECEDEF;
        border: #ACADAE 1px solid;
        font-family: 'Space Mono', monospace;
        text-align: center;
        border-radius: 5px;
        margin: 0 0 0 10px;
        cursor: pointer;
        padding: 0;
    }

    button:focus {
        border: cornflowerblue 1px solid;
        outline: none;
    }

    button:active {
        background-color: #ACADAE;
    }

    input {
        width: 50px;
        height: 33px;
        background-color: #ECEDEF;
        border: #ACADAE 1px solid;
        font-family: 'Space Mono', monospace;
        text-align: center;
        border-radius: 5px;
        margin: 0 5px 0 10px;
        padding: 0;
    }

    input:focus {
        border: cornflowerblue 1px solid;
        outline: none;
    }

    #randomize {
        margin: 0 0 0 10px;
        display: flex;
        align-items: center;
    }

    #randomize-but {
        width: 125px;
        height: 35px;
    }

    #plot {
        margin: 0 10px 0 0;
        width: 75px;
        height: 35px;
    }

    #difference {
        margin: 0 10px 0 0;
        display: inline-block;
        font-family: 'Space Mono', monospace;
    }

    .bold {
        font-weight: 700;
    }
</style>