<template>
    <div class="data-set">
        <div id="info">
            <p id="title">NAME <label><input class="bold" id="title-input" type="text" v-model="name"></label></p>
            <p id="average">AVERAGE <span class="bold">{{ average }}</span></p>
        </div>
        <div id="data">
            <label v-bind:key="i" v-for="i in valueCount">
                <input :value="numbers[i-1]" @input="updateNumber($event, i-1)" class="value" maxlength="3"
                       minlength="1"
                       type="number">
            </label>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from "vuex";

    export default {
        name: "DataSet",
        props: {
            title: {
                type: String
            },
            id: {
                type: Number
            },
            valueCount: {
                type: Number,
                default: 13
            }
        },
        data: function () {
            return {
                average: 0,
                name: ''
            }
        },
        computed: {
            ...mapGetters('numbers', [
                'getNumbers',
                'getTotalById'
            ]),
            numbers: function () {
                return this.getNumbers(this.id)
            }
        },
        created() {
            let payload = {
                id: this.id,
                values: new Array(this.valueCount).fill(0)
            };
            this.createNumbers(payload);
        },
        watch: {
            valueCount: function () {
                let payload = {
                    id: this.id,
                    values: this.numbers.slice(0, this.valueCount)
                };
                this.createNumbers(payload);

            }
        },
        methods: {
            ...mapMutations('numbers', [
                'setNumber',
                'createNumbers'
            ]),
            updateNumber: function (e, i) {
                let payload = {
                    id: this.id,
                    key: i,
                    value: e.target.value
                };
                this.setNumber(payload);
                let total = this.getTotalById(this.id);
                this.average = (total / this.valueCount).toFixed(2);
            }
        }
    }
</script>

<style scoped>
    .bold {
        font-weight: 700;
    }

    #info {
        margin: 5px 0 15px 0;
    }

    #info p {
        margin: 0;
        display: inline-block;
        font-family: 'Space Mono', monospace;
    }

    #title-input {
        margin: 0;
        font-family: 'Space Mono', monospace;
        background-color: #ECEDEF;
        border: #ACADAE solid 1px;
        border-radius: 5px;
        height: 20px;
    }

    #title-input:focus {
        border: cornflowerblue 1px solid;
        outline: none;
    }

    #average {
        float: right;
    }

    .data-set {
        width: 98%;
        margin: 0 1% 15px 1%;
    }

    .value {
        border-radius: 5px;
        width: 50px;
        height: 30px;
        background-color: #ECEDEF;
        border: #ACADAE solid 1px;
        font-family: 'Space Mono', monospace;
        text-align: center;
        font-size: 15px;
    }

    input:focus {
        border: cornflowerblue 1px solid;
        outline: none;
    }

    #data {
        display: flex;
        justify-content: space-between;
    }
</style>
