<template>
    <div class="data-view">
        <div class="data">
            <div class="value-parent" v-for="(value, i) in groupOne" v-bind:key="i">
                <p>{{ value }}</p>
            </div>
        </div>
        <div id="data">
            <div class="average">
                <i class="material-icons">arrow_drop_up</i>
                <p>Group One Average <span class="bold">{{ averageOne }}</span></p>
            </div>
            <div class="average">
                <p><span class="bold">{{ averageTwo }}</span> Group Two Average</p>
                <i class="material-icons">arrow_drop_down</i>
            </div>
        </div>
        <div class="data">
            <div class="value-parent" v-for="(value, i) in groupTwo" v-bind:key="i">
                <p>{{ value }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {EventBus} from '../eventBus.js';
    import {mapMutations} from "vuex";

    export default {
        name: "DataView",
        props: {
            ids: {
                type: Array,
                default: function () {
                    return [0, 1]
                }
            }
        },
        computed: {
            ...mapGetters('numbers', [
                'getNumbers'
            ]),
            numberSet: function () {
                let numberSet = [];
                this.ids.forEach(e => {
                    this.getNumbers(e).forEach(el => {
                        numberSet.push(el);
                    });
                });
                return numberSet;
            },
            averageOne: function () {
                return this.getAverage(this.groupOne);
            },
            averageTwo: function () {
                return this.getAverage(this.groupTwo);
            }
        },
        data: function () {
            return {
                groupOne: [],
                groupTwo: []
            };
        },
        methods: {
            ...mapMutations('averages', [
                'setAverage'
            ]),
            ...mapMutations('dots', [
                'changeDot'
            ]),
            shuffle: function (array) {
                let remaining = array.length;
                let selected, current;

                while (remaining) {
                    selected = Math.floor(Math.random() * remaining--);
                    current = array[remaining];
                    array[remaining] = array[selected];
                    array[selected] = current;
                }

                return array;
            },
            update: function (randomArray) {
                randomArray.forEach((e, i) => {
                    randomArray[i] = parseInt(e);
                });
                let half = randomArray.length / 2;
                this.groupOne = randomArray.slice(0, half);
                this.updateAverage(0, this.averageOne);
                this.groupTwo = randomArray.slice(half);
                this.updateAverage(1, this.averageTwo);
            },
            getAverage: function (array) {
                let count = array.length;
                let total = 0;
                array.forEach(e => {
                    total = total + e;
                });
                return (total / count).toFixed(2);
            },
            updateAverage: function (id, average) {
                this.setAverage({
                    'index': id,
                    'average': average
                });
            },
            plotDot: function () {
                let payload = {
                    operation: '+',
                    label: Math.round(this.averageOne- this.averageTwo)
                };
                this.changeDot(payload);
            },
        },
        created() {
            this.update(this.shuffle(this.numberSet));
            EventBus.$on('randomize', payload => {
                for (let i = 0; i < payload; i++) {
                    this.update(this.shuffle(this.numberSet));
                    this.plotDot();
                }
            });
        }
    }
</script>

<style scoped>
    .data-view {
        width: 80%;
        margin: 0 10% 20px 10%;
        background-color: #ECEDEF;
        border-radius: 10px;
        display: inline-block;
    }

    .data {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: 10px 1%;
    }

    .value-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 32px;
        border-radius: 5px;
        background-color: #CDCECF;
    }

    p {
        font-family: 'Space Mono', monospace;
        text-align: center;
        font-size: 15px;
        margin: 0;
    }

    #data {
        width: 98%;
        margin: 10px 1%;
        display: flex;
        justify-content: space-between;
    }

    .bold {
        font-weight: 700;
    }

    .average {
        display: flex;
        align-items: center;
    }
</style>