<template>
    <div class="dot-plot">
        <div id="dot-plot-parent">
            <div id="line"></div>
            <div id="dot-plot">
                <column v-bind:number="value" v-bind:label="getLabel(i)" v-bind:has-label="hasLabel(getLabel(i))"
                        v-for="(value, i) in columnNumbers" v-bind:key="i"></column>
            </div>
        </div>
    </div>
</template>

<script>
    import Column from './Column.vue'
    import {mapGetters} from "vuex";
    import Vue from 'vue'

    export default {
        name: "DotPlot",
        components: {
            Column
        },
        data: function () {
            return {
                columnNumbers: new Array(31).fill(0)
            }
        },
        computed: {
            ...mapGetters('dots', [
                'getDots'
            ]),
            columnCount: function () {
                return this.columnNumbers.length;
            },
            watchDots: function () {
                return Object.assign({}, this.getDots);
            }
        },
        methods: {
            getLabel: function (i) {
                return -Math.round(this.columnCount / 2) + i + 1;
            },
            hasLabel: function (label) {
                return !(Math.abs(label) & 1 === 1);
            },

        },
        watch: {
            watchDots: {
                handler: function (newValue, oldValue) {
                    for (const i in newValue) {
                        if (newValue.hasOwnProperty(i)) {
                            if (oldValue.hasOwnProperty(i)) {
                                if (newValue[i] !== oldValue[i]) {
                                    Vue.set(this.columnNumbers, parseInt(i) + Math.round((this.columnCount - 1) / 2), newValue[i]);
                                }
                            } else {
                                Vue.set(this.columnNumbers, parseInt(i) + Math.round((this.columnCount - 1) / 2), newValue[i]);
                            }
                        }

                    }
                },
                deep: true
            }
        }
    }
</script>

<style scoped>
    .dot-plot {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 20px 0;
    }

    #dot-plot-parent {
        position: relative;
        margin: 0;
        width: 80%;
        height: 40vh;
        border-radius: 10px;
        background-color: #ECEDEF;
        display: flex;
        justify-content: center;

    }

    #dot-plot {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    #line {
        z-index: 1;
        position: absolute;
        width: 96%;
        height: 0;
        border: 2px solid black;
        bottom: 30px;
    }
</style>