<template>
    <div class="numbers">
        <div id="set">
            <div id="value-count-parent">
                <p id="value-count">Value Count <label><input class="bold" id="value-input" type="number"
                                                              v-model="valueCount"></label></p>
            </div>
            <data-set title="NO A" v-bind:id="0" v-bind:value-count="parseInt(valueCount)"></data-set>
            <data-set title="A" v-bind:id="1" v-bind:value-count="parseInt(valueCount)"></data-set>
        </div>
    </div>
</template>

<script>
    import DataSet from './DataSet.vue'

    export default {
        name: "Number",
        components: {
            DataSet
        },
        data: function () {
            return {
                valueCount: 10
            }
        }
    }
</script>

<style scoped>
    .numbers {
        margin: 20px 0 0 0;
    }

    #value-count-parent {
        width: 98%;
        margin: 15px 1% 0 1%;
    }

    .bold {
        font-weight: 700;
    }

    #value-input {
        margin: 0;
        font-family: 'Space Mono', monospace;
        background-color: #ECEDEF;
        border: #ACADAE solid 1px;
        border-radius: 5px;
        height: 20px;
        width: 50px;
        text-align: center;
    }

    #value-input:focus {
        border: cornflowerblue 1px solid;
        outline: none;
    }
    #value-count {
        margin: 0;
        display: inline-block;
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;
    }

    #set {
        width: 80%;
        margin: 0 10% 20px 10%;
        display: inline-flex;
        border-radius: 10px;
        flex-direction: column;
        background-color: #ECEDEF;
    }
</style>