<template>
    <div id="app">
        <numbers></numbers>
        <data-view></data-view>
        <control-bar></control-bar>
        <dot-plot></dot-plot>
        <contributing></contributing>
    </div>
</template>

<script>
    import DotPlot from './components/DotPlot.vue'
    import Numbers from './components/Numbers.vue'
    import ControlBar from './components/ControlBar.vue'
    import DataView from './components/DataView.vue'
    import Contributing from './components/Contributing.vue'

    export default {
        name: 'app',
        components: {
            DotPlot,
            Numbers,
            ControlBar,
            DataView,
            Contributing
        }
    }
</script>

<style>
    body {
        margin: 0;
    }

    #app {

    }
</style>
